body {
  color: #212529;
  counter-reset: counter-h2 counter-h2-toc;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  margin: 0;
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 0.5rem 1rem;
}

/*
  anchors
  special treatment for anchors in headings (i.e. #, in heading section) and nav (i.e. bold, in nav section)
*/
a {
  color: inherit;
  text-decoration: none;
}

main :not(h2, h3) > a {
  color: #0d6efd;
}

@media (hover: hover) {
  main :not(h2, h3) > a:hover {
    text-decoration: underline;
  }
}

/* buttons */
.button {
  background-color: #0d6efd;
  border: 2px solid #fafafa;
  border-radius: 0.4rem;
  color: #ffffff;
  display: inline-block;
  margin: 0.75rem;
  padding: 0.35rem 0.75rem;
}

@media (hover: hover) {
  .button:hover {
    background-color: #0b5ed7;
  }
}

.button:active {
  border: 2px solid #97c1fe;
}

/*
  style inline code to match Prism.js styles (which only style code having a language-* class)
  allows more control than document.querySelectorAll(":not(pre) code").forEach(code => code.classList.add("language-plain"));
*/
:not(pre) > code {
  background-color: #f5f2f0;
  border-radius: 0.3em;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  overflow-wrap: break-word;
  padding: 0.1em;
}

/* notes and warnings */
.note,
.warning {
  border-left-style: solid;
  border-left-width: 4px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
}

.note {
  background-color: #e5f4f9;
  border-left-color: #0096c7;
}

.warning {
  background-color: #fdf0ed;
  border-left-color: #e76f51;
}

.note::before,
.warning::before {
  font-weight: bold;
}

.note::before {
  color: #0096c7;
  content: "Note";
}

.warning::before {
  color: #e76f51;
  content: "Attention";
}

/* tables */
table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
}

thead {
  background-color: #cccccc;
  border: 1px #cccccc solid;
}

tbody > tr:nth-child(2n) {
  background-color: #f7f7f7;
}

th,
td {
  padding: 0.25rem 1.25rem;
}

td {
  border: 1px #f2f2f2 solid;
}

/* navs */
nav {
  background-color: #fafafa;
  font-size: 0.85rem;
  overflow-y: auto;
}

nav > ul {
  list-style-type: none;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

@media (hover: hover) {
  .H2 > a:hover,
  .H3 > a:hover {
    font-weight: bold;
  }
}

.active {
  font-weight: bold;
}

.H2 {
  counter-reset: counter-h3-toc;
}

.H2 > a::before {
  content: counter(counter-h2-toc) ". ";
  counter-increment: counter-h2-toc;
}

.H3 {
  padding-left: 1.5rem;
}

.H3 > a::before {
  content: counter(counter-h2-toc) "." counter(counter-h3-toc) ". ";
  counter-increment: counter-h3-toc;
}

/* headings */
h2:target > a::after,
h2:not(:target):hover > a::after,
h3:target > a::after,
h3:not(:target):hover > a::after {
  color: #cccccc;
  content: "#";
  display: inline-block;
  margin-left: 0.5rem;
}

:target {
  scroll-margin-top: 1rem;
}

h2 {
  counter-reset: counter-h3;
}

h2 > a::before {
  content: counter(counter-h2) ". ";
  counter-increment: counter-h2;
}

h3 > a::before {
  content: counter(counter-h2) "." counter(counter-h3) ". ";
  counter-increment: counter-h3;
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  nav {
    flex-basis: 22rem;
    height: 100vh;
    position: sticky;
    top: 0;
  }
}

@media print {
  /* overwrite Prism.js styles */
  pre > code {
    white-space: pre-wrap !important;
  }

  .button {
    display: none;
  }

  .active {
    font-weight: normal;
  }

  h2:target > a::after,
  h2:not(:target):hover > a::after,
  h3:target > a::after,
  h3:not(:target):hover > a::after {
    content: "";
  }
}
